.events-section__event-container{
  margin: 20px;
  padding-bottom: 20px;
  border-bottom: 5px solid rgb(119, 119, 119);
}

.events-section__event-data{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.events-section__event-container{
  position: relative;
}

.events-section__event-checkbox{
  position: absolute;
  right: 0;
  top: 30px;
}

.events-section__event-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 300px;
  max-width: 300px;
}

.events-section__event-params {
  display: flex;
  flex-direction: row;
  min-width: 240px;
  justify-content: space-between;
}

.events-section__event-location {
  font-weight: 700;
}

.event-data__event-header{
  font-weight: bold;
  text-align: center;
  margin: 50px auto;
  font-size: 25px;
}

.events-sevtion__schedule {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
}

.events-section__event-descr{
  display: block;
}

.event-data__event-location, 
.event-data__event-time{
  margin: 20px 0;
}

.event-data__group-link-container{
  margin: 20px auto;
  text-align: center;
  font-size: 20px;
}

.event-data__group-link-container:hover{
  color: #ACD037;
}

.event-data__group-link {
  text-align: center;
  font-size: 20px;
}

.hidden{
  display: none;
}
