.label__control{
  display: inline-flex;
}

/* Option */

.option {
  display: block;
  margin-bottom: 8px;
}

/* Check */
.label__control {
  padding-left: 16px;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__box {
  position: absolute;
  margin-top: -60px;
  margin-left: -16px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 1px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 2px #4A90E2;
}

/* Checked */

.check__input:checked + .check__box {
  background-color: #4A90E2;
  background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Fcheck.svg?1550563475518);
}

/* Focused */

.check__input:focus + .check__box {
  box-shadow:
    0 0 0 0.16px #4A90E2,
    0 0 0 3px #7ED321;
}

/* Disabled */

.check__input:disabled + .check__box {
  box-shadow: 0 0 0 0.16px #9B9B9B;
}

.check__input:checked:disabled + .check__box {
  background-color: #9B9B9B;
}